{
    'env': {
        'browser': true,
        'node': true,
        'es6': true,
    },
    'parserOptions': {
        'ecmaVersion': 6,
        'sourceType': 'module',
        'ecmaFeatures': {
            'jsx': true,
        }
    },
    'rules': {
        // Posible Errors
        'no-compare-neg-zero': 'error',
        'no-dupe-args': 'error',
        'no-dupe-keys': 'error',
        'no-duplicate-case': 'error',
        // Best Practice
        'curly': 'error',
        'eqeqeq': ['warn', 'smart'],
        'no-fallthrough': 'warn',
        'no-global-assign': 'error',
        // Variables
        'no-delete-var': 'error',
        'no-undef': 'error',
        'no-unused-vars': 'warn',
        // Stylistic Issues
        'block-spacing': 'error',
        'brace-style': 'error',
        'camelcase': 'warn',
        'comma-spacing': 'error',
        'func-call-spacing': 'error',
        'key-spacing': ['error', {'beforeColon': false, 'afterColon': true}],
        'keyword-spacing': 'error',
        'no-alert': 'error',
        'no-mixed-spaces-and-tabs': 'error',
        'no-multi-spaces': 'error',
        'no-multiple-empty-lines': ['error', {'max': 2, 'maxEOF': 0}],
        'indent':['error', 4],
        // 'semi': [2, 'never'],
        'semi-spacing': 'error',
        'space-before-blocks': 'error',
        'space-infix-ops': 'error',
        'space-unary-ops': 'error',
        'switch-colon-spacing': 'error',
        // ECMAScript6
        'arrow-body-style': ['error', 'as-needed'],
        'arrow-spacing': 'error',
        'no-const-assign': 'error',
        'no-var': 'error',
    }
}
