[include]
    path = ~/.gitconfig.user
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
    diff = true
[ghq]
    root = ~/src
[http]
	sslBackend = openssl
	postBuffer = 16M
