/config/*

# nixpkgs
!/config/nixpkgs

# fish
!/config/fish/

/config/fish/fish_*
!/config/fish/fish_plugins

/config/fish/*/*
!/config/fish/conf.d/__*__.fish
!/config/fish/*/own/

# vim
!/config/vim/
/config/vim/plugged/*
/config/vim/autoload/plug.vim

# git tools
!/config/tig/
!/config/gh/config.yml
