# fish
config/fish/conf.d/*
config/fish/functions/*
config/fish/completions
config/fish/fish_variables

## exclude fisher
!config/fish/functions/fisher.fish
!config/fish/completions/fisher.fish

## exclude own
!config/fish/conf.d/_*.fish
!config/fish/functions/own

# other
/config/gcloud
/config/wslu
