{{- /* vim: set ft=toml.tmpl : */ -}}

[tools]
# languages
deno = '1.37'
flutter = '3.13'
golang = '1.21'
java = 'adoptopenjdk-17.0.8+7'
kotlin = '1.9'
lua = '5.4'
nodejs = ['18', '20']
python = ['3.10', '3.11', '3.12']
ruby = '3.2'
rust = '1.72'
scala = '3.3'

# development tools
chezmoi = 'latest'
direnv = 'latest'
exa = 'latest'
fzf = 'latest'
ghq = 'latest'
github-cli = 'latest'
jq = 'latest'
ripgrep = 'latest'
shellcheck = 'latest'
starship = 'latest'

duckdb = ['0.9', '0.8']
neovim = '0.9.2'
terraform = '1.5'
tmux = '3.3a'
zellij = '0.38.2'
zoxide = '0.9.2'

# cloud
awscli = '2'
aws-vault = '7.2'
aws-sam-cli = '1.97.0'
gcloud = '448'

[plugins]
duckdb = 'https://github.com/asdf-community/asdf-duckdb'

[settings]
legacy_version_file = true
jobs = 2
experimental = true
missing_runtime_behavior = 'ignore'
