{{- /* vim: set ft=lua.template : */ -}}
hs.alert.show('hammerspoon config loaded', {
  strokeWidth     = 0,
  textSize        = 27,
  radius          = 0,
  atScreenEdge    = 2,
  fadeInDuration  = 0.15,
  fadeOutDuration = 0.15,
  padding         = nil,
})

AutoReloader = hs.pathwatcher.new(os.getenv("HOME") .. "/.hammerspoon/", hs.reload):start()

{{ template "hammerspoon/require.lua" . }}
{{ template "hammerspoon/helper.lua" . }}
{{ template "hammerspoon/winmanager.lua" . }}
{{ template "hammerspoon/keybind.lua" . }}
{{- /* end */ -}}
