{{/*** programming language ***/ -}}
deno 1.30.3
flutter 3.7.3-stable
golang 1.20.3
kotlin 1.8.10
lua 5.4.4
nodejs 18.13.0
python 3.10.9
ruby 3.2.0
rust 1.68.2
scala 3.2.2

{{- if eq .chezmoi.arch "arm64" }}
java adoptopenjdk-11.0.16+101
{{ else }}
java adoptopenjdk-11.0.16+101 adoptopenjdk-8.0.345+1
{{ end -}}

{{/* for java */ -}}
maven 3.9.0
{{/* for scala */ -}}
sbt 1.8.2

{{/*** development tools ***/ -}}
chezmoi 2.33.1
direnv 2.32.2
ghq 1.4.1
github-cli 2.27.0
jq 1.6
neovim 0.9.0
protoc 21.12
ripgrep 13.0.0
shellcheck 0.9.0
shfmt 3.6.0
starship 1.14.1
terraform 1.4.4
tflint 0.46.0

{{ if ne .chezmoi.os "darwin" }}
fzf 0.37.0
yq 4.30.8
tmux 3.3a
exa 0.10.1
zoxide 0.9.0

{{/*** cloud tools ***/ -}}
awscli 2.9.23
aws-vault 6.6.2
aws-sam-cli 1.73.0
saml2aws 2.36.2
gcloud 417.0.1
{{- end }}
