{{/*** programming language ***/ -}}
deno 1.35.2
flutter 3.10.6-stable
golang 1.21.1
java adoptopenjdk-17.0.8+7
kotlin 1.9.0
lua 5.4.6
nodejs 18.17.0
python 3.10.13 3.11.5
ruby 3.2.2
rust 1.72.0
scala 3.3.1

{{/* for java */ -}}
maven 3.9.4
{{/* for scala */ -}}
sbt 1.9.4

{{/*** development tools ***/ -}}
chezmoi 2.39.1
direnv 2.32.3
ghq 1.4.2
github-cli 2.32.0
jq 1.7
neovim 0.9.2
protoc 23.4
ripgrep 13.0.0
shellcheck 0.9.0
shfmt 3.7.0
starship 1.16.0
terraform 1.5.7
tflint 0.47.0

{{ if ne .chezmoi.os "darwin" }}
exa 0.10.1
fzf 0.42.0
tmux 3.3a
yq 4.34.1
zellij 0.38.1
zoxide 0.9.2

awscli 2.13.17
aws-vault 7.2.0
aws-sam-cli 1.97.0
gcloud 445.0.0
{{- end }}
