{{/*** programming language ***/ -}}
deno 1.28.3
flutter 3.3.9-stable
golang 1.19.3
kotlin 1.7.22
lua 5.4.4
nodejs 18.12.1
python 3.10.8 3.11.0 3.9.15
ruby 3.1.3
rust 1.65.0
scala 3.2.1

{{- if eq .chezmoi.arch "arm64" }}
java adoptopenjdk-11.0.16+101
{{ else }}
java adoptopenjdk-11.0.16+101 adoptopenjdk-8.0.345+1
{{ end -}}

{{/* for python */ -}}
pipenv 2022.11.30
poetry 1.2.2
{{/* for java */ -}}
maven 3.8.6
{{/* for scala */ -}}
sbt 1.8.0

{{/*** development tools ***/ -}}
chezmoi 2.27.2
cmake 3.25.1
direnv 2.32.2
fzf 0.35.1
ghq 1.3.0
github-cli 2.20.2
hugo 0.107.0
jq 1.6
make 4.4
neovim 0.8.1
protoc 21.10
ripgrep 13.0.0
shellcheck 0.8.0
shfmt 3.5.1
starship 1.11.0
terraform 1.3.6
tflint 0.43.0
tmux 3.3a
yq 4.30.5

{{/* not supported for apple arm64 */ -}}
{{ if ne .chezmoi.arch "arm64" }}
delta 0.14.0
exa 0.10.1
zoxide 0.8.3
{{ end }}

{{/*** cloud tools ***/ -}}
awscli 2.9.4
aws-vault 6.6.0
aws-sam-cli 1.66.0
saml2aws 2.36.2
gcloud 410.0.0
