{{- /* vim: set ft=zsh : */ -}}

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

{{ if eq .chezmoi.os "linux" -}}
export AWS_VAULT_BACKEND=pass
export AWS_VAULT_PASS_PREFIX=aws-vault
export GPG_TTY=$(tty)
{{- end }}

########
# path #
########

path=(
  $HOME/bin(N-/)
  $HOME/.local/bin(N-/)
  $HOME/.local/share/rtx/bin(N-/)
  $path
)
typeset -U PATH

fpath=(
  $HOME/.config/zsh/plugins/zsh-completions/src(N-/)
  $HOME/.asdf/completions(N-/)
  $fpath
)
typeset -U FPATH


############
# commands #
############

if which rtx &>/dev/null; then
  eval "$(rtx activate zsh)"

  eval "$(rtx exec -- direnv hook zsh)"
  eval "$(rtx exec -- starship init zsh)"
  eval "$(rtx exec -- zoxide init zsh)"

  alias v=nvim
  export EDITOR=nvim
fi

# my commands
{{ template "zsh/commands/_zsh-history.tmpl" }}
{{ template "zsh/commands/_ssm.tmpl" }}
{{ template "zsh/commands/_external.tmpl" }}
{{ template "zsh/commands/_zr.tmpl" }}

#########
# alias #
#########
alias ..='cd ..'
alias ch='chezmoi'
alias cha='chezmoi apply -v'
alias chc='chezmoi cd'
alias chd='chezmoi diff'
alias chu='chezmoi update -v'
alias dc='docker-compose'
alias g='git'
alias ga='git add'
alias gb='git branch'
alias gbd='git branch -D'
alias gc='git commit -v'
alias gcl='git clean -fd'
alias gf='git fetch'
alias gr='git restore'
alias gs='git status'
alias gsc='git switch -c'
alias gsw='git switch'
alias la='ls -lAF'
alias ll='ls -lF'
alias ls='ls --color'
alias resh='exec $SHELL -l'
alias ts='tig status'

alias -g G='| grep --color=auto'

###########
# bindkey #
###########
# vi
bindkey -v
bindkey -M viins '^A' beginning-of-line
bindkey -M viins '^E' end-of-line
bindkey -M viins '^N' down-line-or-history
bindkey -M viins '^P' up-line-or-history
# own
bindkey -M viins '^R' zsh-history

# vi cursor
function zle-keymap-select () {
  case $KEYMAP in
    vicmd) echo -ne '\e[1 q';;
    viins|main) echo -ne '\e[5 q';;
  esac
}
zle -N zle-keymap-select

function zle-line-init() {
  zle -K viins
  echo -ne "\e[5 q"
}
zle -N zle-line-init

echo -ne '\e[5 q'
function preexec() { echo -ne '\e[5 q'; }

##############
# completion #
##############
autoload -U compinit
compinit

autoload colors
zstyle ':completion:*' completer _expand_alias _complete _ignored

zstyle ':completion:*:descriptions' format '%F{blue} %B%d%b%f'
zstyle ':completion:*:warnings' format '%F{yello} No matches for: %d%f'

zstyle ':completion:*' group-name ''
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'
zstyle ':completion:*' menu select=2
zstyle ':completion:*' verbose yes

###########
# history #
###########
HISTFILE=$HOME/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

setopt appendhistory
setopt hist_ignore_all_dups
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_no_store
setopt hist_reduce_blanks
setopt share_history
