{{- /* vim: set ft=zsh : */ -}}
#!{{ lookPath "zsh" }}

# config {{ output "find" (joinPath .chezmoi.sourceDir "dot_config") "-type" "f" | sha256sum }}
chezmoi unmanaged --path-style absolute | grep .config/nvim/lua | xargs -r rm -rv
chezmoi unmanaged --path-style absolute | grep .config/zsh | xargs -r rm -rv
chezmoi unmanaged --path-style absolute | grep .config/aqua | xargs -r rm -rv
chezmoi unmanaged --path-style absolute | grep .config/navi/cheats | xargs -r rm -rv

{{ if eq .chezmoi.os "darwin" -}}
# nvim config {{ output "find" (joinPath .chezmoi.sourceDir "dot_hammerspoon") "-type" "f" | sha256sum }}
chezmoi unmanaged --path-style absolute | grep .hammerspoon/ | xargs -r rm -rv
{{- end }}

{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
# on WSL {{ output "cat" (joinPath .chezmoi.sourceDir "dot_config" "wezterm" "wezterm.lua") | sha256sum }}
if [ -d "/mnt/c/Users/$(whoami)" ]; then
  cp -v ~/.config/wezterm/wezterm.lua /mnt/c/Users/$(whoami)/.wezterm.lua
fi
{{- end }}


{{ if lookPath "aqua" -}}
# symlink lazy {{ output "cat" (joinPath .chezmoi.sourceDir "dot_config" "aqua" "aqua.yaml") | sha256sum }}
aqua install --all --only-link
{{- end }}

# compile zshrc
zcompile ~/.zshrc
