priority -1

snippet s "snippet" b
`!p snip.rv = 'snippet'` ${3/(r)?.*/(?1:\/:)/}${1:name}${3/(r)?.*/(?1:\/:)/} "${2}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = 'endsnippet'`
endsnippet

snippet vis "${VISUAL}" i
\$\{VISUAL${1/.+/:/}${1}\}${0}
endsnippet
