{{- /* vim: set ft=zsh : */ -}}

if [ -f /opt/homebrew/opt/asdf/libexec/asdf.sh ]; then
  . /opt/homebrew/opt/asdf/libexec/asdf.sh
elif [ -f $HOME/.asdf/asdf.sh ]; then
  . $HOME/.asdf/asdf.sh
fi

if [ -d $HOME/.asdf ]; then
  # golang package bin
  ASDF_GOLANG_PACKAGE_BIN=$(asdf where golang 2>/dev/null)/packages/bin
fi
